body {
  background-color: var(--color-grey-5);
}

menu {
  display: flex;
  gap: 20px;
}

.nav-selected {
  background-color: var(--color-grey-2);
  color: var(--color-white-fixed);
  padding: 8px;
  border-radius: var(--radius-2);
  cursor: default;
}

.register-wrapper {
  width: 100vw;
  height: 100vh;
}

.register-form {
  margin: 0 auto;
  padding: 40px 24px;
  position: relative;
  border-radius: 8px;
  top: 186px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 461px;
  max-width: 100%;
  background-color: var(--color-white-fixed);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.register-title {
  font-weight: var(--font-weight-title1);
  font-size: var(--font-size-title1);
  line-height: var(--line-height-title1);
  color: var(--color-gray-0);
}

.register-email {
  color: var(--color-grey-2);
  font-size: var(--font-size-text1);
  border-radius: var(--radius-2);
  height: 52px;
  width: 100%;
  border: 2px solid var(--color-grey-4);
  padding: 16px 20px;
  outline: none;
}

.register-password {
  color: var(--color-grey-2);
  font-size: var(--font-size-text1);
  border-radius: var(--radius-2);
  height: 52px;
  width: 100%;
  border: 2px solid var(--color-grey-4);
  padding: 16px 20px;
  outline: none;
}

.register-btn {
  color: var(--color-white-fixed);
  font-weight: var(--font-weight-title2);
  font-size: var(--font-size-text2);
  border-radius: var(--radius-2);
  background-color: var(--color-primary);
  height: 38px;
  width: 100%;
  border: 0;
  padding: 0px 12px;
  cursor: var(--cursor);
}

.register-btn:hover {
  background-color: var(--color-secondary);
}

.register-text {
  font-size: var(--font-size-text3);
  align-self: center;
}

.back-login-btn {
  color: var(--color-grey-1);
  font-weight: var(--font-weight-title2);
  font-size: var(--font-size-text2);
  border-radius: 2px;
  background-color: transparent;
  height: 38px;
  width: 100%;
  border: 1px solid var(--color-grey-1);
  padding: 0px 12px;
  cursor: var(--cursor);
}


.back-login-btn:hover {
  background-color: var(--color-primary-faded);
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-title2);
}

.register-name {
  color: var(--color-grey-2);
  font-size: var(--font-size-text1);
  border-radius: var(--radius-2);
  height: 52px;
  width: 100%;
  border: 2px solid var(--color-grey-4);
  padding: 16px 20px;
  outline: none;
}

.register-work {
  color: var(--color-grey-2);
  font-size: var(--font-size-text1);
  border-radius: var(--radius-2);
  height: 52px;
  width: 100%;
  border: 2px solid var(--color-grey-4);
  padding: 16px 20px;
  outline: none;
}

.register-profile-picture {
  color: var(--color-grey-2);
  font-size: var(--font-size-text1);
  border-radius: var(--radius-2);
  height: 52px;
  width: 100%;
  border: 2px solid var(--color-grey-4);
  padding: 16px 20px;
  outline: none;
}

.register-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.go-back-btn {
  padding: 0px 12px;
  height: 28px;
  border: 1px solid var(--color-grey-1);
  background-color: transparent;
  border-radius: 2px;
  cursor: var(--cursor);
  font-weight: var(--font-weight-title2);
}

.go-back-btn:hover {
  background-color: var(--color-primary-faded);
  border-color: var(--color-primary);
  color: var(--color-primary);
}
