main {
  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 0;
}

menu {
  display: flex;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.open-follow {
  color: var(--color-white-fixed);
  cursor: var(--cursor);
  display: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.follow-bar {
  gap: 61px;
  width: 420px;
  max-width: 100%;
  position: sticky;
  top: 138px;
}

.to-post {
  gap: 26px;
  width: 650px;
  max-width: 100%;
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

.follow-wrapper {
  gap: 61px;
}

.to-follow {
  display: flex;
  justify-content: space-between;
}

.follow-true {
  height: 28px;
  background-color: var(--color-primary);
  color: var(--color-white-fixed);
  border-radius: 2px;
  padding: 0 12px;
  cursor: var(--cursor);
  border: 0;
  font-weight: var(--font-weight-title2);
}

.posts-wrapper {
  padding-top: 36px;
  width: 650px;
  max-width: 100%;
  margin-bottom: 100px;
}

.posts-wrapper h1 {
  padding-bottom: 52px;
}

.posts {
  gap: 50px;
}

.post {
  gap: 20px;
}

.post-title {
  font-size: var(--font-size-title1);
  line-height: var(--line-height-title1);
}

.post-content {
  font-size: var(--font-size-text1);
  line-height: var(--line-height-text1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.post-foot-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.like-img-wrapper {
  display: flex;
  gap: 7px;
  cursor: var(--cursor);
}

.hidden {
  display: none;
}

@media (width < 1200px) {
  .follow-bar {
    width: 380px;
  }
  .to-post {
    width: 600px;
  }
  .posts-wrapper {
    width: 550px;
  }
}

@media (width < 1050px) {
  .follow-bar {
    width: 330px;
  }
  .to-post {
    width: 500px;
  }
  .posts-wrapper {
    width: 500px;
  }
}

@media (width < 900px) {
  .follow-bar {
    width: 300px;
  }
  .to-post {
    width: 450px;
  }
  .posts-wrapper {
    width: 450px;
  }
}

@media (width < 820px) {
  .follow-bar {
    width: 280px;
  }
  .to-post {
    width: 400px;
  }
  .posts-wrapper {
    width: 400px;
  }
}

@media (width < 750px) {
  .follow-bar {
    display: none;
  }
  .open-follow {
    display: block;
  }
  .to-post {
    width: 100%;
  }
  .posts-wrapper {
    width: 100%;
  }
}
