@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#4263EB;
    --color-secondary:#364FC7;

    --color-primary-faded:#EDF2FF;

    --color-gray-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868e96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-white-fixed: #ffffff;
    --grey-opacity-1: rgba(33,37,41,0.5);
    
    --radius-1: 0.25rem;
    --radius-2: 4px;

    --font-family-1: "Inter", sans-serif;
    --font-family-2: "Nunito", sans-serif;

    --font-weight-title1: 700;
    --font-weight-title2: 600;
    --font-weight-text: 400;
    --font-size-title1: 28px;
    --font-size-title2: 20px;
    --font-size-text1: 16px;
    --font-size-text2: 14px;
    --font-size-text3: 12px;

    --line-height-title1:40px;
    --line-height-title2:24px;
    --line-height-text1:28px;
    --line-height-text2:16px;

    --lateral-padding:100px;
    --vertical-padding:30px;

    --cursor: pointer;

}

body{
    font-family: var(--font-family-1);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    list-style: none;
}