.nav-wrapper {
  background-color: var(--color-grey-1);
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar {
  padding: var(--vertical-padding) 16px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  top: 100px;
}

.nav-logo {
  width: 120px;
  height: 15px;
  cursor: var(--cursor);
}

.nav-link {
  color: var(--color-white-fixed);
  cursor: var(--cursor);
  padding: 8px;
  border-radius: var(--radius-2);
  transition: ease 0.5;
}

.nav-link:hover {
  background-color: var(--color-grey-2);
}
