.profile {
   display: flex;
   gap: 12px;
}
.profile-picture-wrapper {
   height: 52px;
   width: 52px;

}
.profile-picture {
   width: 100%;
}
.profile-aside {

}
.profile-name {

}
.profile-job {

}